.clock {
	&__root {
		cursor: pointer;
	}
	&__st0 {
		fill: url(#SVGID_1_);
	}
	&__st1 {
		fill: url(#SVGID_2_);
	}
	&__st2 {
		fill: url(#SVGID_3_);
	}
	&__st3 {
		fill: url(#SVGID_4_);
	}
	&__st4 {
		fill: url(#SVGID_5_);
	}
	&__st5 {
		fill: none;
		stroke: url(#SVGID_6_);
		stroke-miterlimit: 10;
		stroke-width: 0.5;
	}
	&__st6 {
		fill: url(#SVGID_7_);
	}
	&__st7 {
		fill: url(#SVGID_8_);
	}
	&__st8 {
		fill: url(#SVGID_9_);
	}
	&__st9 {
		fill: url(#SVGID_10_);
	}
	&__st10 {
		fill: url(#SVGID_11_);
	}
	&__st11 {
		fill: url(#SVGID_12_);
	}
	&__st12 {
		fill: none;
		stroke: url(#SVGID_13_);
		stroke-dasharray: 5.49;
		stroke-miterlimit: 10;
		stroke-width: 0.5;
	}
	&__st13 {
		fill: url(#SVGID_14_);
	}
	&__st14 {
		fill: url(#SVGID_15_);
	}
	&__st15 {
		fill: url(#SVGID_16_);
	}
	&__st16 {
		fill: none;
		stroke: url(#SVGID_17_);
		stroke-width: 0.5;
		stroke-miterlimit: 10;
	}
	&__st17 {
		fill: none;
		stroke: url(#SVGID_18_);
		stroke-width: 0.5;
		stroke-miterlimit: 10;
	}
	&__st18 {
		fill: none;
		stroke: url(#SVGID_19_);
		stroke-width: 0.5;
		stroke-miterlimit: 10;
	}
	&__st19 {
		fill: url(#SVGID_20_);
	}
	&__st20 {
		fill: url(#SVGID_21_);
	}

	&__st21 {
		fill: url(#SVGID_22_);
	}
	&__st22 {
		fill: url(#SVGID_23_);
	}
	&__st23 {
		fill: url(#SVGID_24_);
	}
	&__st24 {
		fill: url(#SVGID_25_);
	}
	&__st25 {
		fill: url(#SVGID_26_);
	}
	&__st26 {
		fill: url(#SVGID_27_);
	}
	&__st27 {
		fill: url(#SVGID_28_);
	}
	&__st28 {
		fill: url(#SVGID_29_);
	}
	&__st29 {
		fill: url(#SVGID_30_);
	}
	&__st30 {
		fill: url(#SVGID_31_);
	}
	&__st31 {
		fill: url(#SVGID_32_);
	}
	&__st32 {
		fill: url(#SVGID_33_);
	}
	&__st33 {
		fill: url(#SVGID_34_);
	}
	&__st34 {
		fill: url(#SVGID_35_);
	}
	&__st35 {
		fill: url(#SVGID_36_);
	}
	&__st36 {
		fill: url(#SVGID_37_);
	}
	&__st37 {
		fill: url(#SVGID_38_);
	}
	&__st38 {
		fill: url(#SVGID_39_);
	}
	&__st39 {
		fill: url(#SVGID_40_);
	}
	&__st40 {
		fill: url(#SVGID_41_);
	}
	&__st41 {
		fill: url(#SVGID_42_);
	}
	&__st42 {
		fill: url(#SVGID_43_);
	}
	&__st43 {
		fill: url(#SVGID_44_);
	}
	&__st44 {
		fill: url(#SVGID_45_);
	}
	&__st45 {
		fill: url(#SVGID_46_);
	}
	&__st46 {
		fill: url(#SVGID_47_);
	}
	&__st47 {
		fill: url(#SVGID_48_);
	}
	&__st48 {
		fill: url(#SVGID_49_);
	}
	&__st49 {
		fill: url(#SVGID_50_);
	}
	&__st50 {
		fill: url(#SVGID_51_);
	}
	&__st51 {
		fill: url(#SVGID_52_);
	}
	&__st52 {
		fill: url(#SVGID_53_);
	}
	&__st53 {
		fill: url(#SVGID_54_);
	}
	&__st54 {
		fill: url(#SVGID_55_);
	}
	&__st55 {
		fill: url(#SVGID_56_);
	}
	&__st56 {
		fill: url(#SVGID_57_);
	}
	&__st57 {
		fill: url(#SVGID_58_);
	}
	&__st61 {
		fill: url(#SVGID_62_);
	}
	&__st62 {
		fill: url(#SVGID_63_);
	}
	&__st63 {
		fill: url(#SVGID_64_);
	}
	&__st64 {
		fill: url(#SVGID_65_);
	}
	&__st65 {
		fill: url(#SVGID_66_);
	}
	&__title {
		fill: url(#text);
		font: bold 10px sans-serif;
	}
	&__value {
		fill: url(#text);
		font: bold 15px sans-serif;
	}
}
