@import 'variables';

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

img {
	display: block;
}

input,
select,
option,
textarea,
button {
	font-family: Roboto;
}

body {
	font-family: $main-font;
	font-size: 20px;
	font-weight: 300;
	color: $main-color;
	background-color: $black;
}

@mixin title-font {
	font-family: $headers-font;
	font-weight: 700;
}

@mixin section-title {
	padding: 170px 0 56px;
	font-size: 64px;
	@include title-font;
}

@mixin element-decor {
	backdrop-filter: blur(6px);
	background: $background-color;
	border: 2px solid $shady-main-color;
	border-radius: 8px;
}

@mixin transition {
	transition: 300ms all ease-in-out;
}

@mixin focus-color-hover {
	&:hover {
		color: $focus-color;
	}
}

@mixin selection {
	&::selection {
		color: $white;
		background-color: $main-color;
	}
}

@mixin text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.svg-sprite {
	display: none;
}
