$main-font: 'Roboto', Arial, sans-serif;
$headers-font: 'Montserrat', sans-serif;

$main-color: #faf0b5;
$shady-main-color: rgba(250, 240, 181, 0.5);
$background-color: rgba(238, 237, 228, 0.02);

$white: #fff;
$black: #000;

$half-gap: 12px;
$gap: 24px;
$big-gap: 36px;
